/* Box style for toDo notes */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
     background-color: rgb(0, 121, 191); 
}


.notesDecoration {
	  color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
     margin: 5px;
     word-wrap: break-word;
     width: -webkit-fit-content; /* Fit the content exactly to the div size */
     height: -webkit-fit-content;
     width: -moz-fit-content;
     height: -moz-fit-content;
     position: relative;
}


/* ----------------------- */

/* The date and the icon element added by pressing toDo! it puts the date element to the right  of the notebox*/
.added {
    font-size: 15px;
    
}
.notesHeader {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 10px;
}

.headerToolBar {
    height: 30px;
    background-color: #0560BB;

}

/*CSS Animation and Style For The Search Box on Top Left */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #3F7FBF;
    color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 30px;
    padding-right: 15px;
}
::-webkit-input-placeholder { /* Search Box place holder color */
    color: white;
}

input[type=text]:focus {
    width: 50%;
}

/* Fix the Search Container and the Search Icon Position for the searchbox */ 
.wrapper input[type="text"] {
    position: relative; 
    top: 2px;
}
input { font-family: 'FontAwesome'; } 
.searchBtn {
    color: white;

}
.searchBtn:before {
    font-family: 'FontAwesome';
    color: white;
    position: relative;
    content: "\f002";
}

#headerName {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: 700;
}
.headerDate:before{
    font-family: 'FontAwesome';
    color: white;
    content: "\f073";
    padding-right: 5px;
}
.headerDate {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 20px;  
}

button#addNotesButton {
    position: relative;
    left: 50%;
}

/* addNotesTextArea Styles */
#newNoteForm > .form-group > label {
    font-family: 'Indie Flower', cursive;
    color: white;
}
#newNoteForm {
    width: 100%;
}
.topSpace {
    height: 10px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}
.zoomClose {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -4%;
    right: 1%;
    
}
.favourClose {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -4%;
    right: 1%;
    
}
.doneClose {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -4%;
    right: 1%;
    
}
.zoomClose:hover,
.zoomClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.favourClose:hover,
.favourClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.doneClose:hover,
.doneClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


.zoomModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    word-wrap: break-word;
 

}
.favourModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    word-wrap: break-word;
 
}
.doneModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    word-wrap: break-word;
 
}
.zoomModalCon  {
    background-color: #D9534F;
    margin: 15% auto;
    width: 90%;
    border: 1px solid #888;
    height: 250px;
    position: relative;
    word-wrap: break-word;
    height: auto;
    border-radius: 10px;
    
}
.favourModalCon {
    background-color: #D9534F;
    margin: 15% auto;
    width: 50%;
    border: 1px solid #888;
    height: 250px;
    position: relative;
    word-wrap: break-word;
    height: auto;
    border-radius: 10px;
}


.doneModalCon {
    background-color: #D9534F;
    margin: 15% auto;
    width: 90%;
    border: 1px solid #888;
    height: 250px;
    position: relative;
    word-wrap: break-word;
    height: auto;
    border-radius: 10px;
}


.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.wordCount {
    float: right;
}

.noteDateAdded {
    font-family: 'Indie Flower', cursive;
    color: #A190D4;
    position: absolute;
    top: 1%;
    display: block;
    padding-bottom: 5px;
}

.fa.fa-window-close {
    color: red;
    position: absolute;
    top: 1%;
    right: 1%;
}
.zoomClose > fa.fa-window-close {
    color: red;
    top: 5%;
    right: 1%;
}
.fa.fa-window-close:hover,
.fa.fa-window-close:focus {
    cursor: pointer;
}
.notesDecoration .fa.fa-heart {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    opacity: 0.2;
    color: red;
}
.notesDecoration .fa.fa-heart:hover {
    opacity: 1;
    color: red;
    font-size: 35px;
}
.notesDecoration .fa.fa-check {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    opacity: 0.2;
    color: #5cb85c;
}
.notesDecoration .fa.fa-exclamation-circle {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    opacity: 0.2;
    color: #930BED;
    
}
.notesDecoration .fa.fa-exclamation-circle:hover {
    opacity: 1;
    font-size: 35px;
}
.notesDecoration .fa.fa-check:hover {
    opacity: 1;
    color: #5cb85c;
    font-size: 35px;
}
.userTextAtNote {
    display: block;
    padding-top: 10px;
}
.zooModalConTitle {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 25px;
    color: white;
}
.zoomToolbar {
    border-bottom: 1px solid #eceeef;
    padding: 20px;
    text-align: center;
}

.importantNodes {
    color: #616E14;
    border: solid 1px #BFD62F;
    background-color: #DAE691;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
    margin: 5px;
    word-wrap: break-word;
    width: -webkit-fit-content;
    /* Fit the content exactly to the div size */
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    position: relative;
    background-color: white;
    width: 98%;
}
.favourNotesModal {
    color: white;
    border: solid 1px white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
    margin: 5px;
    word-wrap: break-word;
    width: -webkit-fit-content;
    /* Fit the content exactly to the div size */
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    position: relative;
    background-color: white;
    width: 98%;
}
.doneNotesModal {
    color: white;
    border: solid 1px white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
    margin: 5px;
    word-wrap: break-word;
    width: -webkit-fit-content;
    /* Fit the content exactly to the div size */
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    position: relative;
    background-color: white;
    width: 98%;
}
.modalIconNodes {
    color: #930BED;
    position: absolute;
    top: 40%;
    left: 90% !important;
    opacity: 1 !important;
}
.favourIconNodes {
    color: red !important;
    position: absolute;
    top: 40%;
    left: 90% !important;
    opacity: 1 !important;
    
}
.doneToolbar, .favourToolbar {
     border-bottom: 1px solid #eceeef;
    padding: 20px;
    text-align: center;
}
.checkIconNodes {
    color: #5cb85c !important;
    position: absolute;
    top: 40%;
    left: 90% !important;
    opacity: 1 !important; 
}
.notifyBlock {
    transform: rotate(25deg);
    width: 15%;
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 20px;
    
}

.readMeBox {
    font-family: 'Indie Flower', cursive;
    color: white;
    position: relative;
}

.notesTableContent {
    background-color: #5cb85c;
    border-radius: 10px;
    font-size: 25px;
   

}
.notesTableContent > p.readMeBox > i.fa.fa-heart {
    position: absolute;
    top: 10%;
    left: 80%;
    color: #D9534F;
    font-size: 30px;
}
.heartNumber{
    color: white;
    position: absolute;
    top: 8%;
    left: 30%;
    font-size: 25px;
    font-weight: 700;
    
}
@media only screen and  (max-width: 570px) { 
    .notifyBlock {
        display: none;
    }
}